* {
  padding: 0;
  margin: 0;
}
header {
  width: 100%;
  padding-block: 12px;
}
nav {
  padding-inline: 60px;
}
a {
  color: #40196d !important;
}
.navLinks {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navRight .navButtonsParent {
  width: 100%;
  display: flex;
  gap: 28px;
  align-items: center;
}
.navButtonsParent div button {
  padding-block: 14.5px;
  padding-inline: 31px;
}
.navButtonsParent img {
  width: 40px;
  height: 37px;
}
#joinKuda {
  background-color: #40196d;
  color: #fff;
  border-radius: 10px;
}

.section1 {
  margin-inline: 130px;
}
/* hero section */
.heroDiv {
  margin-top: 70px;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.heroTextDiv {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
}
h1 {
  color: #40196d;
  font-size: 48px;
  font-weight: 900;
}
.heroImageDiv {
  display: flex;
  gap: 11px;
}
.heroFooter {
  color: #979797;
  display: flex;
  gap: 5px;
}
.heroFooter img {
  margin-top: 4px;
  height: 17px;
  width: 19px;
}
.popUp {
  position: absolute;
  bottom: -20px;
  right: 50%;
  display: flex;
  gap: 31px;
  align-items: center;
  width: max-content;
  padding-block: 19px;
  padding-inline: 20.9px;
  border: 1px solid #dfe3ff;
  border-radius: 10px;
  background-color: #fff;
  transform: translate(50%);
}
.popUp a {
  text-decoration: underline;
}
.popUp button {
  color: #40196d;
  font-weight: 700;
  border-radius: 10px;
  background-color: #dfe3ff;
  padding-inline: 15px;
  padding-block: 12.4px;
}
.section1div {
  margin-top: 30px;
  display: flex;
}
.section1divReverse {
  margin-top: 30px;
  display: flex;
  flex-direction: row-reverse;
}

/* use 
* @media screen and (min-width: 479px) and (max-width: 991px)
* fot tab specific screens
*/

@media screen and (min-width: 479px) and (max-width: 968px) {
  nav {
    padding-inline: 10px;
  }
  .navRight .navButtonsParent {
    gap: 10px;
  }
  .navButtonsParent div {
    display: flex;
  }
  .navButtonsParent div button {
    padding-block: 5px;
    padding-inline: 10px;
    font-size: 14px;
    text-wrap: nowrap;
  }
  #mobileLogo {
    display: none;
  }
  .section1 {
    margin-inline: 20px;
  }
  .section1div {
  flex-direction: column;
}
.section1divReverse {
  flex-direction: column;
}
}

@media screen and (max-width: 479px) {
  .navRight .navButtonsParent {
    gap: 10px;
  }
  .navButtonsParent div {
    display: flex;
  }
  .navButtonsParent div button {
    font-size: 14px;
    padding-block: 7px;
    padding-inline: 15px;
    text-wrap: nowrap;
  }
  .section1 {
    margin-inline: 30px;
  }
  .heroDiv {
    flex-direction: column;
  }
  .popUp {
    right: 0;
    width: 100%;
    transform: translate(0);
  }
  .section1div {
    flex-direction: column;
  }
  .section1divReverse {
    flex-direction: column;
  }
}
